h1 {
    color: red;
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 46.5rem;
}

h2 {
    color: blue;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 48rem;
}

h3 {
    margin-left: 28rem;
}

body {
    background-color: blanchedalmond;
}

.div {
    display: inline-block;
    margin-left: 40rem;
    padding: 5px;
}

.paragraf {
    color: blueviolet;
    margin-left: 45rem;
}

.cesitler {
    padding-left: 550px;
}

row {
    margin-left: 48rem;
}