h1 {
    color: red;
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 46.5rem;
}

h2 {
    color: blue;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 48rem;
}

body {
    background-color: blanchedalmond;
}

div {
    margin-left: 40rem;
    padding: 5px;
}

.paragraf {
    color: blueviolet;
    margin-left: 45rem;
}

p {
    margin-left: 27rem;
}

ol {}